* {
    margin: 0;
    padding: 0;
}

.Top {
    background-color: #333;
    overflow: hidden;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.contas {
    width: 200px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 16px;
    text-align: center;
    margin-bottom: 10px;
}